#aboutSection, #experienceSection, #contactSection {
	margin: 100px 50px;
}

#profile {
	max-height: 200px;
    border-radius: 50%;
}

.center-div {
	text-align: center;
}

.section, .row{
	margin: 0;
}

.wrapper{
	margin:50px 0px;
}

.small-wrapper{
	margin:25px 0;
}

.logo-img{
	padding-bottom: 20px;
	width: 80%;
	max-height: 200px;
	max-width: 200px;
}

.footer, .footer .description {
	margin:100px 0;
}

p {
	width: 100%;
}

.footer .description {
	text-align: center;
}

.slick-next:before , .slick-prev:before {
	color: #333333 !important;
}

.signature {
	text-decoration: none;
	color: black;
	float: right;
	width: 50%;
}

.img-icon {
	width: 100%;
	max-width: 40px;
	float: left; 
	padding-right: 5px;
}

